@model Intelectah.ViewModel.FabricantesViewModel

@{
    ViewData["Title"] = "Confirmação para apagar o fabricante";
}

<div class="text-center">
    <h3>Realmente deseja apagar o fabricante @Model.NomeFabricante?</h3>
</div>

<div>
    <form asp-action="Apagar" method="post">
        <input type="hidden" name="id" asp-for="FabricanteID" />
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

