@model Intelectah.ViewModel.UsuariosViewModel

@{
    ViewData["Title"] = "Adicionar ususario";
}

<div class="text-center">
    <h1 class="display-4">Adicionar usuário</h1>
</div>

<form asp-controller="Usuarios" asp-action="Criar" method="post">
    @Html.Partial("Forms.cshtml")

    <button type="submit" class="btn btn-primary" style="margin-top:10px">Criar</button>
    <a class="btn btn-secondary" asp-controller="Usuarios" asp-action="Index" role="button" style="margin-top:10px">Voltar</a>
</form>
