@model Intelectah.Models.VendasModel

@{
    ViewData["Title"] = "Confirmação de Exclusão de Venda";
}

<div class="text-center">
    <h3>Você realmente deseja apagar a venda com ID @Model.VendaId?</h3>
</div>

<form method="post" asp-controller="Vendas" asp-action="ApagarConfirmacao">
    <input type="hidden" name="id" value="@Model.VendaId" />
    <a class="btn btn-secondary" role="button" asp-controller="Vendas" asp-action="Index">Cancelar Exclusão</a>
    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
</form>
