@model Intelectah.ViewModel.VendasViewModel

@{
    ViewData["Title"] = "Criar Venda";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Criar" method="post">
    @Html.Partial("Forms", Model)

    <button type="submit" class="btn btn-primary" style="margin-top:10px">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary" style="margin-top:10px">Cancelar</a>
</form>

